@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../assets/fonts/Poppins-Regular.ttf) format('ttf');
}

* {
  font-family: 'Poppins', sans-serif;
}

.main {
  padding-top: 30px;
  padding-bottom: 30px;
  width: calc(100vw - 220px);
}

select {
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid #e4e4e4;
  height: 51px;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: 500;
  color: #010e38;
}

.input {
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid #e4e4e4;
  height: 51px;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: 500;
  color: #010e38;
}

textarea {
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 15px 20px;
  font-weight: 500;
  color: #010e38;
}

textarea:focus {
  outline: none;
}

label {
  width: 100%;
  font-weight: 500;
  color: #868ca4;
}

.input:focus {
  outline: none;
}

table {
  width: 100%;
  background-color: #FFFFFF;
  white-space: nowrap;
  border-radius: 5px;
}

.date {
  font-size: 12px;
  color: #4d5674;
  display: flex;
  align-items: center;
}

table thead {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px; 
  border-bottom: 1px solid #f4f4f4;
}

table thead th {
  padding: 15px; 
  line-height: 21px;
  background-color: #FFFFFF;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  color: #4D5674;
  border-radius: 5px;
}

table tbody {
  width: 100%;
  color: #010E38;
  border-radius: 40px;
}

table tr td {
  padding: 15px;
  font-size: 14px;
  line-height: 21px;  
  text-align: start;
  border-radius: 40px;
}



select:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6300; 
  border-radius: 2px;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type=date]:required:valid {
  color: #010e38;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

input:valid + label,
input:focus + label {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f4f4f4 url(../assets/images/arrow.png) no-repeat right center;
  background-position-x: calc(100% - 7px);
  background-size: 20px;
}

select::-ms-expand {
  display: none;
}


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff6300;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}



/* checkbox style 2 */

/* .flipswitch {
  position: relative;
  background: rgba(244, 244, 244, 0.75);
  width: 120px;
  height: 40px;
  -webkit-appearance: initial;
  border-radius: 3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #ddd;
}

.flipswitch:after {
  position: absolute;
  top: 2%;
  display: block;
  line-height: 32px;
  width: 45%;
  height: 95%;
  background: #fff;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease-in 0s;
  color: black;
  border: #888 1px solid;
  border-radius: 3px;
}

.flipswitch:after {
  left: 2%;
  content: "False";
}

.flipswitch:checked:after {
  left: 53%;
  color: white;
  content: "True";
  background: #ff6300;
} */